# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Blog/wwwroot/lib/jquery/LICENSE.txt
Blogger.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Blogger.Data/obj/Debug/net6.0/Blogger.Data.csproj.AssemblyReference.cache
.vs/FinalBlogWebsite/FileContentIndex/fdf1ea22-8bcc-47b9-bac7-ae70e82cbcaf.vsidx
Blog/bin/Debug/net6.0/Blog.deps.json
Blog.Entity/Entities/Article.cs
